<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhbim.bimvr.dao.mapper.AppResDrawingMapper" >
  <resultMap id="BaseResultMap" type="com.jhbim.bimvr.dao.entity.pojo.AppResDrawing" >
    <id column="res_picture_id" property="resPictureId" jdbcType="INTEGER" />
    <result column="model_id" property="modelId" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="draw_name" property="drawName" jdbcType="VARCHAR" />
    <result column="draw_type" property="drawType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    res_picture_id, model_id, project_id, company_id, url, draw_name, draw_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_res_drawing
    where res_picture_id = #{resPictureId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_res_drawing
    where res_picture_id = #{resPictureId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jhbim.bimvr.dao.entity.pojo.AppResDrawing" >
    insert into app_res_drawing (res_picture_id, model_id, project_id, 
      company_id, url, draw_name, 
      draw_type)
    values (#{resPictureId,jdbcType=INTEGER}, #{modelId,jdbcType=VARCHAR}, #{projectId,jdbcType=BIGINT}, 
      #{companyId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{drawName,jdbcType=VARCHAR}, 
      #{drawType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jhbim.bimvr.dao.entity.pojo.AppResDrawing" >
    insert into app_res_drawing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resPictureId != null" >
        res_picture_id,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="drawName != null" >
        draw_name,
      </if>
      <if test="drawType != null" >
        draw_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resPictureId != null" >
        #{resPictureId,jdbcType=INTEGER},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="drawName != null" >
        #{drawName,jdbcType=VARCHAR},
      </if>
      <if test="drawType != null" >
        #{drawType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jhbim.bimvr.dao.entity.pojo.AppResDrawing" >
    update app_res_drawing
    <set >
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="drawName != null" >
        draw_name = #{drawName,jdbcType=VARCHAR},
      </if>
      <if test="drawType != null" >
        draw_type = #{drawType,jdbcType=INTEGER},
      </if>
    </set>
    where res_picture_id = #{resPictureId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jhbim.bimvr.dao.entity.pojo.AppResDrawing" >
    update app_res_drawing
    set model_id = #{modelId,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=BIGINT},
      company_id = #{companyId,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      draw_name = #{drawName,jdbcType=VARCHAR},
      draw_type = #{drawType,jdbcType=INTEGER}
    where res_picture_id = #{resPictureId,jdbcType=INTEGER}
  </update>

  <select id="getOneRes" resultMap="BaseResultMap" parameterType="com.jhbim.bimvr.dao.entity.pojo.AppResDrawing" >
    select
    <include refid="Base_Column_List" />
    from app_res_drawing
    where
    model_id = #{modelId,jdbcType=VARCHAR}
    and
    project_id = #{projectId,jdbcType=INTEGER}
    and
    company_id = #{companyId,jdbcType=INTEGER}
  </select>
</mapper>