<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhbim.bimvr.dao.mapper.ChartMapper" >
  <resultMap id="BaseResultMap" type="com.jhbim.bimvr.dao.entity.pojo.Chart" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="chart_id" property="chartId" jdbcType="VARCHAR" />
    <result column="material_id" property="materialId" jdbcType="VARCHAR" />
    <result column="chart_name" property="chartName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="REVISION" property="revision" jdbcType="INTEGER" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_TIME" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="findByPaging" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    *
    from chart
    where material_id = #{materialId,jdbcType=VARCHAR}
    </select>
  <insert id="insert" parameterType="com.jhbim.bimvr.dao.entity.pojo.Chart" >
    insert into chart (id, chart_id, material_id, 
      chart_name, url, REVISION, 
      CREATED_TIME, CREATED_BY, UPDATED_BY, 
      UPDATED_TIME)
    values (#{id,jdbcType=VARCHAR}, #{chartId,jdbcType=VARCHAR}, #{materialId,jdbcType=VARCHAR}, 
      #{chartName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{revision,jdbcType=INTEGER}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jhbim.bimvr.dao.entity.pojo.Chart" >
    insert into chart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="chartId != null" >
        chart_id,
      </if>
      <if test="materialId != null" >
        material_id,
      </if>
      <if test="chartName != null" >
        chart_name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="revision != null" >
        REVISION,
      </if>
      <if test="createdTime != null" >
        CREATED_TIME,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedTime != null" >
        UPDATED_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="chartId != null" >
        #{chartId,jdbcType=VARCHAR},
      </if>
      <if test="materialId != null" >
        #{materialId,jdbcType=VARCHAR},
      </if>
      <if test="chartName != null" >
        #{chartName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="revision != null" >
        #{revision,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>