<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhbim.bimvr.dao.mapper.FurnitureMapper" >
  <resultMap id="BaseResultMap" type="com.jhbim.bimvr.dao.entity.pojo.Furniture" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="furniture_id" property="furnitureId" jdbcType="VARCHAR" />
    <result column="furniture_name" property="furnitureName" jdbcType="VARCHAR" />
    <result column="furniture_sortid" property="furnitureSortid" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="REVISION" property="revision" jdbcType="INTEGER" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_TIME" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.jhbim.bimvr.dao.entity.pojo.Furniture" >
    insert into furniture (id, furniture_id, furniture_name, 
      furniture_sortid, url, thumbnail, 
      REVISION, CREATED_BY, CREATED_TIME, 
      UPDATED_BY, UPDATED_TIME)
    values (#{id,jdbcType=BIGINT}, #{furnitureId,jdbcType=VARCHAR}, #{furnitureName,jdbcType=VARCHAR}, 
      #{furnitureSortid,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR}, 
      #{revision,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <select id="findByFurn" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    *
    from furniture
    where furniture_sortid = #{furnitureId,jdbcType=VARCHAR}
    </select>
  <insert id="insertSelective" parameterType="com.jhbim.bimvr.dao.entity.pojo.Furniture" >
    insert into furniture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="furnitureId != null" >
        furniture_id,
      </if>
      <if test="furnitureName != null" >
        furniture_name,
      </if>
      <if test="furnitureSortid != null" >
        furniture_sortid,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="revision != null" >
        REVISION,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdTime != null" >
        CREATED_TIME,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedTime != null" >
        UPDATED_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="furnitureId != null" >
        #{furnitureId,jdbcType=VARCHAR},
      </if>
      <if test="furnitureName != null" >
        #{furnitureName,jdbcType=VARCHAR},
      </if>
      <if test="furnitureSortid != null" >
        #{furnitureSortid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="revision != null" >
        #{revision,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>