<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhbim.bimvr.dao.mapper.PrintscreenMapper" >
    <resultMap id="BaseResultMap" type="com.jhbim.bimvr.dao.entity.pojo.Printscreen" >
        <id column="Printscreen_id" property="PrintscreenId" jdbcType="BIGINT"/>
        <result column="Printscreen_userid" property="PrintscreenUserid" jdbcType="BIGINT"/>
        <result column="images" property="images" jdbcType="VARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List" >
     Printscreen_id, Printscreen_userid, images
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from Printscreen
        where Printscreen_id = #{PrintscreenId}
    </delete>
    <insert id="insert" parameterType="com.jhbim.bimvr.dao.entity.pojo.Printscreen">
        insert into Printscreen (Printscreen_id, Printscreen_userid, images,project_id)
        values (#{PrintscreenId,jdbcType=BIGINT}, #{PrintscreenUserid,jdbcType=BIGINT}, #{images,jdbcType=VARCHAR},#{projectId,jdbcType=BIGINT})
    </insert>
    <select id="selectproject" resultMap="BaseResultMap" parameterType="com.jhbim.bimvr.dao.entity.pojo.Printscreen">
        select
        <include refid="Base_Column_List" />
        from printscreen
        where
        model_id = #{modelId,jdbcType=BIGINT}
        and
        project_id = #{projectId,jdbcType=VARCHAR}
        and
        Printscreen_user = #{PrintscreenUser,jdbcType=VARCHAR}
    </select>
</mapper>